.DS_Store
Ontological Alchemy/Apple_Juice_test_simple.asv
Universe/Spacecraft and Space Travel/Project MorningStar/data/starlink_latest.txt
Universe/Spacecraft and Space Travel/Project MorningStar/data/starlink_filtered.txt
Ontology/Ontological Alchemy/Apple_Juice_test_simple.asv
Project MorningStar/data/starlink_latest.txt
Project MorningStar/data/starlink_filtered.txt
